<style>
    .flex-box {
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
    }

    .boat {
        min-width: 200px;
    }
</style>

{% extends "base.html" %}
{% block body %}
    <div class="flex-box">
        {% for boat in boats %}     <!-- for loops in jinja is just like python's. You can also try array slicing here: boats[:15]-->
            <div class="boat">
                <ul>
                    <li>Boat id: {{ boat[0] }}</li>
                    <ul>
                        <li>Name: {{ boat[1] }}</li>
                        <li>Type: {{ boat[2] }}</li>
                        <li>Owner ID: {{ boat[3] }}</li>
                        <li>Price: {{ boat[3] }}</li>
                    </ul>
                </ul>
            </div>
        {% endfor %}

    </div>


{% endblock %}